.logo {
  @keyframes logoAnimation {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(-10deg);
    }

    50% {
      transform: rotate(10deg);
    }

    75% {
      transform: rotate(-10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  max-height: 100px;
  min-height: 100px;
  height: auto;

  &:hover {
    animation: logoAnimation 1s ease;
  }
}

.icons {
  font-size: 20px;

  >*:not(:last-child) {
    margin-right: 1rem;
  }

  li {
    margin-right: 0.3rem;
  }

  .socials {
    @media screen and (max-width:$mobile-l-size) {
      display: none;
    }
  }
}

nav.navbar {
  z-index: 10;
  @media screen and (max-width:$mobile-l-size) {
    position: fixed;
    background-color: rgba(230, 222, 210, 0.97);
    top: 0;
    left: -100vw;
    transition: left 0.5s;
    height: 100vh;
    width: 100vw;
    justify-content: center;
  }

  .menu {
    font-size: 18px;

    .menu-item:not(:last-child)  {
      margin-right: 2rem;

      @media screen and (max-width:$mobile-l-size) {
        display: block;
        text-align: center;
        margin: 2rem 0;
      }
    }
  }
}

input#hamburgerTrigger {
    display: none;

    &+label[for="hamburgerTrigger"] {
      display: none;
      z-index: 999999;
      font-size: 20px;

      @media screen and (max-width:$mobile-l-size) {
        display: inline-block;
      }
    }

    &:checked~nav.navbar {
      left: 0;
    }
}

