@import url('https://use.fontawesome.com/releases/v5.1.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

$body-color: #e6ded2;
$input-bg-color: #fef6e9;

// Screen sizes
$mobile-l-size: 425px;
$tablet-size: 768px;
$laptop-size: 1024px;

@import 'flex-utils';
@import 'spacers-utils';

// Common styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}

ul {
  display: inline;
  list-style: none;

  li {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: black;
  transform: scale(1.0);
  transition: transform 40ms ease-out;

  &:hover {
    color: grey;
    transform: scale(1.5);
  }
}

html, body {
  font-family: 'PT Serif', serif;
  font-size: 14px;
}

.hand {
  $hand-space: 40px;

  padding-left: $hand-space + 10px;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    width: $hand-space;

    background: url(../img/hand.svg) no-repeat;
    background-size: contain;
  }
}

// text utils
.uppercase {
  text-transform: uppercase;
}

.ellipsis {
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden;
}

// Headers
h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
}

// Inputs
input[type="text"], input[type="email"], input[type="search"] {
  border: 1px solid lightgray;
  background: $input-bg-color;
  padding: 0.7rem 0.5rem;
  font: inherit;
  font-weight: normal;
  letter-spacing: 1px;
}

input[type="submit"] {
  border: 0px;
  color: white;
  background: black;
  padding: 1rem;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

// Search with glass
.search {
  position: relative;
  display: flex;
  flex-direction: column;
  &::before {
    position: absolute;
    right: 10px;
    top: 0.7rem;
  }
}

// Lines
.top-lines {
  &::before {
    content: ' ';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.bottom-lines {
  &::after {
    content: ' ';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

//some animations
.socials {
  @keyframes rotate {
    from {
      transform: scale(1.0) rotate(0deg);

    }

    to {
      transform: scale(1.3) rotate(360deg);
    }
  }

  li:hover {
    transform: scale(1.5) rotate(360deg);
    animation: rotate 500ms ease-in-out;
  }
}

// Blog styles
body {
  background-color: $body-color;

  >.wrapper {
    max-width: 1200px;
    margin: auto;
  }

  header {
    $padding-for-borders: 5px;
    @import 'header';

    padding: calc(0.7rem + #{$padding-for-borders}) 0;
    position: relative;

    @media screen and (max-width:$mobile-l-size) {
      flex-direction: column-reverse;
    }

    &::before {
      content: ' ';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-top: 1px solid black;
      border-bottom: 2px solid black;
    }

    &::after {
      content: ' ';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-top: 2px solid black;
      border-bottom: 1px solid black;
    }
  }

  main {
    @import 'main';
    @media screen and (max-width: $tablet-size) {
      flex-wrap: wrap;
    }
  }

  footer {
    position: relative;
    @import 'footer';
  }
}
